html{
    font-family: 'Times New Roman', Times, serif;
}
.left {

    box-shadow: 0px 0px 15px 4px #b3b3b3;

}
.right{
    box-shadow: 0px 0px 15px 4px #b3b3b3;
    

}
.sdw{
    box-shadow:0px 0px 15px 4px #b3b3b3; ;
}
.cent{
    text-align: center;
    }
img{
    margin: 2px;
}



.copyright{
    text-align:center;
    margin:25px 15px 5px 0px;
    color:white;
    background-color: rgb(20, 20, 20);
}

.zoom:hover{
    transform: scale(1.05);
  }
li:hover{
    transform: scale(0.9);
    font-weight: bold;
    color:indigo;
}
p:hover{
    transform: scale(1.05);
    font-weight: bold;
    color: black;
}

h5:hover{

    transform: scale(1.05);
    font-weight: bold;
    color:orangered;

}
h4:hover{

    transform: scale(1.05);
    font-weight: bold;
    color: darkred;

}
h3:hover{

    transform: scale(1.05);
    font-weight: bold;
    color:gold;

}
h2:hover{

    transform: scale(1.05);
    font-weight: bold;

}